@model Voters.Models.Voter

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Lookups: <br />
<a target="_blank" href="https://www.google.com/search?q=zillow+@Model.HouseNumber+@Model.StreetName+@Model.City">Zillow</a> |
<a target="_blank" href="https://www.facebook.com/search/top/?q=@Model.FirstName @Model.LastName @Model.City "> Facebook</a> |
<a target="_blank" href="https://www.linkedin.com/search/results/index/?keywords=@Model.FirstName @Model.LastName @Model.City">LinkedIn</a>
<br />

<div>
    <h4>Voter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfBirth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Another lookup", "Index")
</p>
