@model FlyByNightBank.Web.Models.Calculators.CompoundInterestModel

@{
    ViewBag.Title = "Compound Interest Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compound Interest Result</h2>

<section class="result">

    <p>
        Based on what you provided, if you put <strong id="Principal">@Model.Principal.ToString("C")</strong> down
        as your principal at a rate of <strong id="InterestRate">@Model.InterestRate.ToString("0.0")%</strong>
        for <strong id="Term">@Model.NumberOfYears years</strong> then
    </p>

    <p>You will have <strong id="AmountSaved">@Model.CalculateAmountSaved().ToString("C")</strong></p>

    <p>@Html.ActionLink("Calculate Another", "CompoundInterest", "Calculators")</p>
</section>