@model FlyByNightBank.Web.Models.Calculators.CreditCardPayoffModel
@{
    ViewBag.Title = "Credit Card Payoff Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Credit Card Payoff Calculator</h2>

@using (Html.BeginForm("TimeToPayOffResult", "Calculators", FormMethod.Get))
{
    @*
        This form displays the necessary input fields to calculate months to payoff.
        Each textbox is "bound" to a property on the Model so that when the user submits
        the form, the values are passed in to our controller with the request.
    *@

    <div class="formInputGroup">
        @Html.Label("APR", "Annual Percentage Rate")
        @Html.TextBoxFor(m => m.APR, new { placeholder = "e.g 2.5%" })
    </div>
    <div class="formInputGroup">
        @Html.Label("Balance", "Balance")
        @Html.TextBoxFor(m => m.Balance, new { placeholder = "e.g. $23,325" })
    </div>
    <div class="formInputGroup">
        @Html.Label("MonthlyPayment", "Monthly Payment")
        @Html.TextBoxFor(m => m.MonthlyPayment, new { placeholder = "e.g. $523.13" })
    </div>


    <button class="formSubmitButton">CALCULATE!</button>

}